*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#111;
    color:white;
}


/* HEADER */

header{

    background:#0b0b0b;

    text-align:center;

    padding:40px 20px;

    border-bottom:1px solid #b89b5e;

}


header h1{

    font-size:40px;

    letter-spacing:6px;

    margin:0;

}



header p{

    color:#b89b5e;

    font-size:18px;

}



nav{

    margin-top:25px;

}



nav a{

    color:white;

    text-decoration:none;

    margin:0 15px;

    font-weight:bold;

    transition:.3s;

}



nav a:hover{

    color:#b89b5e;

}




/* BANNER */


.banner{

    text-align:center;

    padding:90px 20px;

    background:

    linear-gradient(

    rgba(0,0,0,.6),

    rgba(0,0,0,.6)

    ),

    url("Imagen-tienda.png");

    background-size:cover;

    background-position:center;

}



.banner h2{

    font-size:45px;

}



.banner p{

    font-size:22px;

}




/* BOTONES */


button{

    background:#b89b5e;

    color:white;

    border:none;

    padding:15px 30px;

    cursor:pointer;

    font-size:16px;

    border-radius:3px;

    transition:.3s;

}



button:hover{

    transform:scale(1.05);

    background:#d4b978;

}




/* CATEGORIAS */


.categorias{

    text-align:center;

    padding:40px;

}



.categorias button{

    margin:8px;

}




/* PRODUCTOS */


#productos{

    padding:40px;

}



#productos h2{

    text-align:center;

    font-size:35px;

}



.productos{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:30px;

}




.producto{

    background:#1b1b1b;

    width:300px;

    padding:25px;

    text-align:center;

    border:1px solid #333;

    transition:.3s;

}



.producto:hover{

    transform:translateY(-10px);

    border-color:#b89b5e;

}



.producto img{

    width:100%;

    height:250px;

    object-fit:cover;

}



.producto h3{

    font-size:24px;

}



.producto h2{

    color:#b89b5e;

}



.link-producto{

    text-decoration:none;

    color:white;

}




/* OFERTA */


.oferta{

    background:#b89b5e;

    color:black;

    padding:8px;

    position:absolute;

}




/* CARRITO */


#carrito{

    background:#181818;

    max-width:650px;

    margin:50px auto;

    padding:35px;

    text-align:center;

    border:1px solid #333;

}



.item-carrito{

    background:#222;

    padding:15px;

    margin:15px 0;

}




/* FOOTER */


footer{

    background:#050505;

    text-align:center;

    padding:40px;

    margin-top:50px;

    color:#b89b5e;

}




/* CELULAR */


@media(max-width:700px){


header h1{

    font-size:28px;

}



nav a{

    display:block;

    margin:15px;

}



.banner h2{

    font-size:30px;

}



.producto{

    width:90%;

}


}
