body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f8f9fa;
    color: #222;
}

header {
    background: linear-gradient(135deg, #111, #444);
    color: white;
    text-align: center;
    padding: 35px 20px;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header p {
    font-size: 18px;
}

nav {
    margin-top: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 17px;
}

nav a:hover {
    color: #25D366;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin: 40px;
}

.producto {
    background: white;
    width: 330px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.producto:hover {
    transform: translateY(-8px);
}

.producto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.producto h3 {
    font-size: 25px;
}

.producto p {
    font-size: 18px;
}

button {
    background: #25D366;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    transform: scale(1.05);
    background: #128C7E;
}

footer {
    background:#111;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}

@media(max-width:600px){
    header h1{
        font-size:30px;
    }

    .producto{
        width:85%;
    }
}
